<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
-->
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div  class="container-fluid">
	<div class="row" >
		<div id="page" style="position: fixed;" class="col-md-3 hidden-xs hidden-sm" id="header" >
			<div id="logo">
				<img src="images/index.png" alt="" />
				<h1><a href="#">Trevor's Shop</a></h1>
				<span>My shop for selling my things</span>
			</div>
			<div id="menu">
				<ul>
					<li class=""><a href="#" accesskey="1" title="">Homepage</a></li>
					<li class="current_page_item"><a href="#" accesskey="2" title="">Browse store</a></li>
					<li><a href="#" accesskey="3" title="">My Blog</a></li>
					<li><a href="#" accesskey="4" title="">About Me</a></li>
					<li><a href="#" accesskey="5" title="">Checkout ( $23,000 )</a></li>
				</ul>
			
			</div>
		</div>
		<div class="col-md-9" id="main">
			<div class="cd-container" >
				<div class="shopping-cart">
					<a title="Checkout" href="">
						
						<img src="images/cd-cart.svg" style="" />

					</a>

				</div>
				<!-- Mobile, tablet logo -->
				<div id="logo" class="visible-sm visible-xs">
					<img src="images/index.png" alt="" />
					
				</div>

				<nav class="navbar  visible-sm visible-xs" role="navigation">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
				      	<span class="fa fa-bars"></span>
				        <span class="sr-only">Toggle navigation</span>
				        
				      </button>
				      <a class="navbar-brand" href="#">Trevor's Shop</a>
				    </div>
				    <div class="navbar-collapse collapse" id="navbar-collapsible">
				      <ul class="nav navbar-nav navbar-left">
				        <li><a href="#section5">Browse Store</a></li>
				        <li><a href="#section5">My Blog</a></li>
				        <li><a href="#section5">About me</a></li>
				        <li><a href="#section5">Checkout $23,000</a></li>
				        <li>
				        		<a href="#section5" data-toggle="dropdown" type="button" class="dropdown-toggle" > Categories <span class="fa fa-chevron-down"></span></a>
				              <ul class="dropdown-menu">
				                <li><a href="#">Category 1</a></li>
				                <li><a href="#">Category 2</a></li>
				                <li><a href="#">Category 3</a></li>
				                <li><a href="#">Category 4</a></li>
				                <li><a href="#">Category 5</a></li> 
				              </ul>
				        </li>
				        
				        <li>&nbsp;</li>
				      </ul>
				      <form class="navbar-form">
				        <div class="form-group" style="display:inline;">
				          <div class="input-group"> 
				            <div class="input-group-btn">
				              
				            </div>
				            <input type="text" class="form-control" placeholder="What are searching for?">
				            <span class="input-group-addon"><span class="fa fa-search"></span> </span>
				          </div>
				        </div>
				      </form>
				    </div>
				 
				</nav>

				<!-- end mobile, tablet logo -->

				<h2 class="text-center" >Browse my store</h2>
				<div class="row " style=" background-color: #337AB7; color: white; padding-bottom: 5px;" >
				<div class="browse-bar"  >
					<div class="col-md-3 col-sm-6" >
						<label>Category</label>
						<select class="form-control">
							<option>Popularity</option>
							<option>Most bought</option>
							<option>Latest</option>
						</select>
					</div>
					
					<div class="col-md-3 col-sm-6" >
						<label>Sort by</label>
						<select class="form-control">
							<option>Popularity</option>
							<option>Most bought</option>
							<option>Latest</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-6" >
						<label>Filter</label>
						<select class="form-control">
							<option>Price $23-$100	</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-6" >
						<label>Go to Page</label>
						<select class="form-control">
							<option>1</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-6" >
						<label>Items per page</label>
						<select class="form-control">
							<option>9</option>
							<option>12</option>
							<option>15</option>
						</select>
					</div>
				</div>
				</div>
				<br/>
				


				<ul id="cd-gallery-items" >
					<li>
						<a href="" >
							<img src="images/thumb.jpg" alt="Preview image">
						</a>
						<h3>Samsung N234533</h3>
						<h4><span class="pull-left">$500.00</span><span class="pull-right">340 in stock</span></h4>
						<button class="btn btn-block btn-default">Add to cart</button>
						
					</li>

					<li>
						<a href="" >
							<img src="images/thumb.jpg" alt="Preview image">
						</a>
						<h3>Sony Experia Z34 24 Litre 5 Stroke</h3>
						<h4><span class="pull-left">$500.00</span><span class="pull-right">340 in stock</span></h4>
						<button class="btn btn-block btn-default">Add to cart</button>
						
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>

					<li>
						<img src="images/thumb.jpg" alt="Preview image">
					</li>
				</ul> <!-- cd-gallery-items -->
				<div class="row" >
					<div class="col-md-4 col-sm-2"></div>
					<div class="col-md-4 col-xs-12 col-sm-8">
						<a href="" class="btn btn-block btn-lg btn-success" >Browse Store</a>
					</div>	
				</div>

				<div id="welcome">
					<div class="title">
						<h2>Fusce ultrices fringilla metus</h2>
						<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span>
					</div>
					<p>This is <strong>Privy</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
					<ul class="actions">
						<li><a href="#" class="button">Etiam posuere</a></li>
					</ul>
				</div>
				<div id="featured">
					<div class="title">
						<h2>Maecenas lectus sapien</h2>
						<span class="byline">Integer sit amet aliquet pretium</span>
					</div>
					<ul class="style1">
						<li class="first">
							<p class="date"><a href="#">Jan<b>05</b></a></p>
							<h3>Amet sed volutpat mauris</h3>
							<p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
						</li>
						<li>
							<p class="date"><a href="#">Jan<b>03</b></a></p>
							<h3>Sagittis diam dolor amet</h3>
							<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
						</li>
						<li>
							<p class="date"><a href="#">Jan<b>01</b></a></p>
							<h3>Amet sed volutpat mauris</h3>
							<p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
						</li>
						<li>
							<p class="date"><a href="#">Dec<b>31</b></a></p>
							<h3>Sagittis diam dolor amet</h3>
							<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
						</li>
					</ul>
				</div>
				<div id="copyright">
					<span>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a></span>
					<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
<script src="js/jquery-2.1.1.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
