<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
-->
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div  class="container-fluid">
	<div class="row" >
		<div id="page" style="position: fixed;" class="col-md-3 hidden-xs hidden-sm" id="header" >
			<div id="logo">
				<img src="images/index.png" alt="" />
				<h1><a href="#">Trevor's Shop</a></h1>
				<span>My shop for selling my things</span>
			</div>
			<div id="menu">
				<ul>
					<li class=""><a href="#" accesskey="1" title="">Homepage</a></li>
					<li class="current_page_item"><a href="#" accesskey="2" title="">Browse store</a></li>
					<li><a href="#" accesskey="3" title="">My Blog</a></li>
					<li><a href="#" accesskey="4" title="">About Me</a></li>
					<li><a href="#" accesskey="5" title="">Checkout ( $23,000 )</a></li>
				</ul>
			
			</div>
		</div>
		<div class="col-md-9" id="main" >
			<div class="cd-container" >
				<div class="shopping-cart">
					<a title="Checkout" href="">
						
						<img src="images/cd-cart.svg" style="" />

					</a>

				</div>
				<!-- Mobile, tablet logo -->
				<div id="logo" class="visible-sm visible-xs">
					<img src="images/index.png" alt="" />
					
				</div>

				<nav class="navbar  visible-sm visible-xs" role="navigation">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
				      	<span class="fa fa-bars"></span>
				        <span class="sr-only">Toggle navigation</span>
				        
				      </button>
				      <a class="navbar-brand" href="#">Trevor's Shop</a>
				    </div>
				    <div class="navbar-collapse collapse" id="navbar-collapsible">
				      <ul class="nav navbar-nav navbar-left">
				        <li><a href="#section5">Browse Store</a></li>
				        <li><a href="#section5">My Blog</a></li>
				        <li><a href="#section5">About me</a></li>
				        <li><a href="#section5">Checkout $23,000</a></li>
				        <li>
				        		<a href="#section5" data-toggle="dropdown" type="button" class="dropdown-toggle" > Categories <span class="fa fa-chevron-down"></span></a>
				              <ul class="dropdown-menu">
				                <li><a href="#">Category 1</a></li>
				                <li><a href="#">Category 2</a></li>
				                <li><a href="#">Category 3</a></li>
				                <li><a href="#">Category 4</a></li>
				                <li><a href="#">Category 5</a></li> 
				              </ul>
				        </li>
				        
				        <li>&nbsp;</li>
				      </ul>
				      <form class="navbar-form">
				        <div class="form-group" style="display:inline;">
				          <div class="input-group"> 
				            <div class="input-group-btn">
				              
				            </div>
				            <input type="text" class="form-control" placeholder="What are searching for?">
				            <span class="input-group-addon"><span class="fa fa-search"></span> </span>
				          </div>
				        </div>
				      </form>
				    </div>
				 
				</nav>

				<!-- end mobile, tablet logo -->

				<h2 class="text-center" >Browse my store</h2>
				<div class="row" >
					<div class="col-md-4" >
						<a href="" >
							<img src="images/thumb.jpg" class="img-responsive" alt="Preview image">
						</a>
						<h3>23 in stock</h3>
					</div>
					<div class="col-md-8" >
						<legend><h1 class="text-left">Samsung N234533</h1></legend>
						<h2><span class="pull-right">$500.00</span><br/></h2>
						
						<legend class="text-right"><small >Customise your order</small></legend>
						<div class="row" >
							<div class="col-xs-12 col-sm-6 col-md-4 " >
								<label>Color</label>
								<select class="form-control">
									<option>Red</option>
									<option>Green</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 " >
								<label>Size</label>
								<select class="form-control">
									<option>Small</option>
									<option>Medium</option>
									<option>Large</option>
								</select>
							</div>
							
							<div class="col-xs-12 col-sm-6 col-md-4 " >
								<label>Items</label>
								<select class="form-control">
									<option>1</option>
									<option>2</option>
								</select>
							</div>
							
						</div>
						<legend class="text-right"><small >Product description</small></legend>
						<table class="table table-striped" >
							<tbody>
								<tr>
									<td>Brand</td>
									<td>Samsung</td>
								</tr>
								<tr>
									<td>Weight (Kg )</td>
									<td></td>
								</tr>
								<tr>
									<td>Minimum per order</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Maximum per order</td>
									<td>10</td>
								</tr>
							</tbody>
						</table>
						2015 Community Engagement Allocations/Payments

2015 Budget = $60,000 (Fund availability by quarter is $15,000).
Date 	Name (Requestor) 	Event or Activity 	Amount 	Funded From
Jan 6, 2015 	Kelly Santalucia 	CodeMash 2015 	$481.24 USD 	Comm Engagement
Jan 8, 2015 	Kelly Santalucia 	ICCS 2015 	$637.87 USD 	CommEngagement
Jan 12, 2015 	Nitin Pandey 	Speaker Support for OWASP Lucknow / DEFCON event, 2 Speakers x $500 	$1,000.00 USD 	CommEngagement
Jan 13, 2015 	John Patrick Lita-Chapter Founder 	Support for OWASP Manila Chapter Meeting, Q1 2015. Merchandise and multi-city tour/training to recruit participation 	$1022.00 USD 	CommEngagement
Feb. 6, 2015 	Jim Manico 	Speaker & Trainer travel expenses for Philippines Chapter 	$500.00 USD 	CommEngagement
Feb. 6, 2015 	Minhaz AV 	Speaker & Travel expense for OWASP & CSRF talk at FOSSASIA 15 at Singapore 	$500 USD 	CommEngagement
Feb. 10, 2015 	Yousif Hussin 	OWASP Merchandise for new Sheffield Chapter 	$300 USD 	CommEngagement
Feb. 19, 2015 	Israel Bryski 	New Chapter 'JumpStart' funding for Brooklyn 	$500 USD 	CommEngagement
Feb. 20, 2015 	Jim Manico 	Speaker role @CodeMash2015-Airfare reimbursement 	$1000 USD 	CommEngagement
Feb. 23 - 27, 2015 	Kelly Santalucia 	SecAppDev 2015 	$ 	CommEngagement
March 3, 2015 	Kelly Santalucia 	SC Congress London 2015 	$218.68 USD 	Comm Engagement
March 16 -17, 2015 	Kelly Santalucia 	Insider Threat Summit 2015 	$25.90 USD 	CommEngagement
March 24 - 27, 2015 	Kelly Santalucia 	BlackHat Asia 2015 	$286.00 USD 	CommEngagement
March 25, 2015 	Rio Okada 	Expense for 4 volunteers dinner at BlackHat Asia 2015 in Singapore 	$247.10 USD 	CommEngagement
March 31, 2015 	Kelly Santalucia 	(ISC)2 SecureIreland 	$50.11 USD 	CommEngagement
April 8, 2015 	Kelly Santalucia 	Cyber Secure Pakistan 2015 	$270.00 USD 	CommEngagement
April 16, 2015 	Yousif Hussin 	Funding for new Chapter meet & speakers 	$250 USD 	CommEngagement
April 22 - 23, 2015 	Kelly Santalucia 	AppsWorld Germany 	$275.26 USD 	CommEngagement
April 30, 2015 	Ahmed Mohamed Neil 	Speakers Reimbursement for Prague event 	$500 USD 	CommEngagement
May 12 - 13, 2015 	Kelly Santalucia 	AppsWorld North America 	$20.40 USD 	CommEngagement
May 13, 2015 	Kelly Santalucia 	Dev Talks 2015 Cluj 	$154.97 USD 	CommEngagement
May 15, 2015 	Kelly Santalucia 	BSides Knoxville 	$240.08 USD 	CommEngagement
May 16 -17, 2015 	Kelly Santalucia 	ICCS 2015 	$24.45 USD 	CommEngagement
May 19 - 21, 2015 	Kelly Santalucia 	Cloud Security World 2015 	$16.26 USD 	CommEngagement
May 21, 2015 	Azzeddine Ramrami 	Speaker travel expense for BDCA2015 	$400 USD 	CommEngagement
May 26 - 29, 2015 	Kelly Santalucia 	Hack in the Box 	$508.57USD 	CommEngagement
June 8, 2015 	Fabio Cerullo 	Speaker travel expense for Barcelona Chapter meeting 	$685 Euro 	CommEngagement
June 10 -11, 2015 	Kelly Santaluica 	SC Congress Toronto 	$536.03 USD 	CommEngagement
June 11, 2015 	Kelly Santalucia 	Dev Talks 2015 Romania 	$500.00 USD 	CommEngagement
June 11 - 12 2015 	Kelly Santalucia 	Cybit 	$189.30 USD 	CommEngagement
June 12 2015 	Yune Sung 	Korea Day 	$500 USD 	CommEngagement
June 12 2015 	Laura Guazzelli 	Gainesville, FL chapter 	$500 USD 	CommEngagement
June 12 2015 	Bill Semph 	Speaker accommodation expense outreach speaking engagement 	$400 USD 	CommEngagement
June 12 2015 	Siva Kumar 	New Chapter Support for Madurai Chapter 	$400 USD 	CommEngagement
July 5 2015 	Akshay Sharma 	New Chapter Support for Bhopal Chapter 	$500 USD 	CommEngagement
July 6, 2015 	Azzeddine Ramrami 	Speaker travel expense for Project Summit at AppSec-USA. Project summit to fund $1000, Foundation to fund balance of $250 	$250 USD 	CommEngagement
July 8, 2015 	Timur kHrotko 	Speaker travel expenses for up to 2 speakers at OWASP Track at Hackivity - non OWASP event 	$1000 USD 	CommEngagement
July 9, 2015 	Magno Logan 	Speaker travel expenses for up to 2 speakers at JampaSec 2015 - non OWASP event 	$1000 USD 	CommEngagement
July 28 - 29, 2015 	Kelly Santalucia & John Patrick Lita 	(ISC)2 Security Congress APAC 2015 	$659.21 USD 	CommEngagement
July 13, 2015 	Johanna Curiel/Projects 	Shutterstock subscription to create flyers 	$249 USD 	CommEngagement
July 20 - 26, 2015 	Kelly Santalucia 	EuroPython 2015 	$300.92 	CommEngagement
July 16, 2015 	Colin Watson 	20 decks of Cards to be used to promote project 	$191 	CommEngagement
August 12 2015 	Bill Semph 	Bringing in Speaker for Chapter meeting 	$500 USD 	CommEngagement
August 27 2015 	Mateo Martinez 	Special funding request for bringing underfunded LATAM Chapter leaders to the Rio de la Plata OWASP event. Up to $1,000 not to exceed $500 per person 	$1,000 USD 	CommEngagement
August 31 2015 	Timothy DeBlock 	New Chapter-Columbia, So.Carolina 1st meeting reimbursement 	$50 USD 	CommEngagement
September 4, 2015 	Kate Hartmann 	Summer of Code shirts for students and mentors 	$400 USD 	CommEngagement

2015 Balance Remaining = 'about $40,800' subject to actual expenses as reimbursed from these pre-approvals.

Balance Remaining includes actual spend as well as approved spend pending reimbursement

					</div>

				</div>
				
				<div id="copyright">
					<span>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a></span>
					<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
<script src="js/jquery-2.1.1.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
