/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}



html,body{
margin:0;
padding:0;
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
background: #fff url(../images/woman-excited.png) left top no-repeat;
height: 100%;

}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -100px;                                                              
float: left;
}

#wrapper{
width: 940px;
margin: 0 auto;
height: 200px;
clear: both;
position: relative;
top: -100px;
position: static;
}



.main{
width: 540px;
float: left;
padding-left: 400px;
margin-top: 
}

h1.logo{
font-size: 80px;
font-weight: 100;
letter-spacing: -1px;
}

h1.logo span{
font-weight: 500;
color: #44c462;
}

h2{
font-size: 28px;
font-style: italic;
font-weight: 100;
margin-left: 30px;
margin-top: 10px;
margin-bottom: 20px;
}


a.learn_more{
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
padding: 10px 20px;
font-size: 15px;
text-decoration: none;
float: left;
margin-left: 30px;
background: #030706;
color: #ffffff;
}

a.learn_more:hover{
background: #44c462;
color: #ffffff;
}


